.auth-form {
  /*background: rgba(255,120,0,.9);*/
  background: rgb(207,225,233);
  width: 50%;
  text-align: center;
  padding: 10px;
  /*position: relative;
  bottom: 400px;*/
  box-sizing: border-box;

}

h2 {
  text-align: center;
}
