/*.bg {
  background: rgba(0,0,0,.2);
  position: relative;
  bottom: 573px;
  height: 800px;
}*/

.cont{
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
}

.auth-form,
.auth-form-sign {
  /*background: rgba(255,120,0,.9);*/
  background: rgb(207,225,233);
  width: 50%;
  height: 800px;
  text-align: center;
  padding: 10px;
  /*position: relative;
  bottom: 400px;*/
  box-sizing: border-box;

}

.auth-form {
  background: rgb(247,247,247);
}

h2 {
  text-align: center;
}

.form-inner {
  margin-top: 80px;
  padding: 20px;
}

/*.formWrapper {
  background: rgba(0,0,0,.9);
  width:30%;
  height: 300px;
  margin: 0 auto;
  padding: 20px 40px;
  position: relative;
  bottom: 2300px;
  color: white;
  border-radius: 5px;
}

.bg {
  background: rgba(0,0,0,.2);
  height: 600px;
  position: relative;
  bottom: 1800px;
}*/
