/*.bg {
  background: rgba(0,0,0,.2);
  position: relative;
  bottom: 573px;
  height: 800px;
}*/

.auth-form {
  /*background: rgba(255,120,0,.9);*/
  background: rgb(207,225,233);
  width: 50%;
  text-align: center;
  padding: 10px;
  /*position: relative;
  bottom: 400px;*/
  box-sizing: border-box;

}

h2 {
  text-align: center;
}

/*.formWrapper {
  background: rgba(0,0,0,.9);
  width:30%;
  height: 300px;
  margin: 0 auto;
  padding: 20px 40px;
  position: relative;
  bottom: 2300px;
  color: white;
  border-radius: 5px;
}

.bg {
  background: rgba(0,0,0,.2);
  height: 600px;
  position: relative;
  bottom: 1800px;
}*/
