<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- <link rel="stylesheet"
    href="https://bootswatch.com/simplex/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
      integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <title>Document</title>
</head>
<body>



  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" (click)="goTo($event,'.intro')" href="#">ifMetro</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" (click)="goTo($event, '.auth-form')" routerLink="/signup">Sign Up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="goTo($event, '.auth-form')" routerLink="/login">Log In</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/logout">Log Out</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="goTo($event, '.loc-form')" href="#0">Make a Trip</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="goTo($event, '.profile-wrapper')" href="#0">My Trips</a>
      </li>
    </ul>
  </div>
</nav>

  <!-- <nav>
    <a routerLink="/signup"> Sign Up </a>
    <br>

    <a routerLink="/login"> Log In </a>
    <br>
  </nav> -->

<div class="intro">

</div>


<div class="cont">

<div class="mapWrapper">

  <agm-map
    [latitude]="lat"
    [longitude]="lng"
    [zoom]="11"
    (mapClick)="mapClicked($event)">
    <agm-marker *ngFor="let m of markers; let i = index"
    [latitude]="m.lat"
    [longitude]="m.lng"
    (markerClick)="markerClicked(m,i)"
    (dragEnd)="markerDragEnd(m,i,$event)"
    >
      <agm-info-window>
         <strong>{{m.name}}</strong>
         <br>
         <a class="delete" (click)="removeMarker(m,i)">Delete</a>
      </agm-info-window>
    </agm-marker>
    <agm-polyline
      [strokeColor]="color">
      <agm-polyline-point
      *ngFor="let s of stations"
      [latitude]="s.lat"
      [longitude]="s.lng">
      </agm-polyline-point>
    </agm-polyline>
    <agm-polyline
      [strokeColor]="colorNew">
      <agm-polyline-point
      *ngFor="let s of newStations"
      [latitude]="s.lat"
      [longitude]="s.lng">
      </agm-polyline-point>
    </agm-polyline>
    <agm-polyline
      [strokeColor]="colorNew">
      <agm-polyline-point
      *ngFor="let s of newStationsNorth"
      [latitude]="s.lat"
      [longitude]="s.lng">
      </agm-polyline-point>
    </agm-polyline>
    <!-- <agm-polyline>
    <agm-polyline-point
       *ngFor="let l of lines; let i = index"
      [latitude]="l.lat"
      [longitude]="l.lng"
    ></agm-polyline-point>
  </agm-polyline> -->
  </agm-map>

</div>

<div class="loc-form">
  <form (ngSubmit)="submitLocations()" class="inner-form">
    <div class="form-group">
      <label> Origin </label>
      <input type="text" [(ngModel)]="locationName" name="locationName"
        class="form-control">
    </div>
    <div class="form-group">
      <label> Travel mode until metro</label>
      <select [(ngModel)]="travelModeOr" name="travelModeOr">
        <option value="bicycling">Bike</option>
        <option value="driving">Car</option>
        <option value="transit">Bus</option>
        <option value="walking">Walk</option>
      </select>
    </div>
    <div class="form-group">
      <label> Destination </label>
      <input type="text" [(ngModel)]="destinationName" name="destinationName"
        class="form-control">
    </div>
    <div class="form-group">
      <label> Travel mode from metro </label>
      <select [(ngModel)]="travelModeDest" name="travelModeDest">
        <option value="bicycling">Bike</option>
        <option value="driving">Car</option>
        <option value="transit">Bus</option>
        <option value="walking">Walk</option>
      </select>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  <div *ngIf="completeDistMessage !== ''" class="distance-message">
    <p>{{completeDistMessage}}</p>

    <!-- render info to save trip -->
    <form (ngSubmit)="saveTrip()">
      <button type="submit" class="btn btn-primary"> Save Trip </button>
    </form>
  </div>

</div> <!-- .loc-form -->
</div> <!-- .cont -->


<div class="rail">
  <div class="train-div">

  </div>
</div>

  <!-- <div class="train-div2">

  </div> -->

  <!-- <form (ngSubmit)="clearMarkers()">
    <button> Clear Storage</button>
  </form> -->



  <!-- AIzaSyBZmlw9qWUNZvc1jbUEZ8HQXHGTHXe3Jm4 -->

  <router-outlet></router-outlet>




  <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZmlw9qWUNZvc1jbUEZ8HQXHGTHXe3Jm4&libraries=geometry"> -->
<!-- </script> -->

</body>
</html>
