

<!-- <div *ngFor='let trip of user.trips'>
  <p>Origin: {{trip.origin}}</p>
  <p>Destination: {{trip.destination}}</p>
  <p>Date: {{trip.date}}</p>
  <p>Distance: {{trip.distance}}</p>
  <p>Time: {{trip.time}}</p>
</div> -->


<!-- <ul *ngFor='let trip of user.trips'>
  <li>
    <p>Origin: {{trip.origin}}</p>
    <p>Destination: {{trip.destination}}</p>
    <p>Date: {{trip.date}}</p>
    <p>Distance: {{trip.distance}}</p>
    <p>Time: {{trip.time}}</p>
  </li>
</ul> -->

<div class="profile-wrapper">

<div class="user-info">
  <div class="total">
<h3> Hello, {{user.username }}</h3>

    <p *ngIf="user.trips.length > 0"> Number of Trips: {{user.trips.length}}</p>

    <p *ngIf = 'totalDistance > 0'> Total Distance: {{ totalDistance }} miles </p>

    <p> {{ time }} </p>
  </div>

</div>

<div class="trips-list">
  <div class="trips-inner">
  <h3> My Trips </h3>
  <ul>
    <li *ngFor='let trip of user.trips' class="trip-li">
      <p>Origin: {{trip.origin}}</p>
      <p>Destination: {{trip.destination}}</p>
      <p>Date: {{trip.date}}</p>
      <p>Distance: {{trip.distance}} miles</p>
      <p>Time: {{trip.dispTime}}</p>
    </li>
  </ul>
  </div>
</div>

</div>
