.profile-wrapper {
  display: flex;
  justify-content: flex-end;
  /*background: rgb(247,247,247);*/
}

.user-info,
.trips-list {
  height: 800px;
  width: 50%;
  box-sizing: border-box;
  /*float: right;*/
}

.trips-list {
  overflow: scroll;
  padding: 20px;
  /*background: rgba(255,120,0,.8);*/
  background: rgb(247,247,247);
}

.user-info {
  padding: 20px;
  background: rgb(207,225,233)
}

h3 {
  text-align: center;
}

ul {
  margin-top: 20px;
}

.trip-li {
  background: rgba(255,255,255,.4);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  list-style-type: none;
}

.total,
.trips-inner {
  margin-top: 50px;
}
